<div class="logo"></div>
<ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
  <li nz-menu-item [routerLink]="['/home']">Home</li>
  <li nz-menu-item *ngIf="user.id!=0">
    <nz-dropdown>
      <div nz-dropdown>
        {{user.username}}<i class="anticon anticon-down"></i>
      </div>
      <ul nz-menu nzSelectable>
        <li nz-menu-item>
          <a (click)="logout()">Logout</a>
        </li>
      </ul>
    </nz-dropdown>
  </li>
  <li nz-menu-item [routerLink]="['/login']" *ngIf="user.id==0">Login</li>
</ul>
